<html lang="en">
<head>

    <link rel="stylesheet" href="./public/styles.css"/>
</head>
<body>
    <div class="body-wrapper">
        {{#users}}
        <div class="userDiv">
            <img class="profilePic" src={{avatar}}/>
            <div class="user-info">
                <a class="name" href="{{id}}">{{name}}</a>
                {{#job}}<p class="working">{{job}}, {{company}}</p>{{/job}}
                {{^job}}<p class="lookingForWork">Available for Hire</p>{{/job}}
            </div>
        </div>
        {{/users}}
    </div>
</body>
</html>

